@using HubbaGolfAdmin.Database.Dtos
@using HubbaGolfAdmin.Database.Models
@model List<CategoryDto>

@{
    var zParents = Model.Where(r => r.Parent == 0).OrderBy(r => r.Sort).ToList();
}

@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

<div class="page-heading">
    <div class="page-title">
        <h3></h3>
        <p class="text-subtitle text-muted">Set up website categories/types/information</p>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover mb-0" id="table">
                                    <thead>
                                        <tr>
                                            <th>No</th>

                                            @* <th>Code</th> *@

                                            <th>Title</th>
                                            <th>Sort</th>

                                            <th class="text-end text-nowrap">
                                                <a href="#" class="btn btn-outline-primary" edit-id="0">
                                                    <i class="bi bi-plus-square"></i>
                                                    Add new
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var zNo = 1;
                                            foreach (var cate in zParents)
                                            {
                                                var zSubCates = Model.Where(r => r.Parent == cate.Id);
                                                if (zSubCates.Count() > 0)
                                                {
                                                    <tr id="@cate.Id" class="fw-bold">
                                                        <td>@(zNo++)</td>

                                                        @*<td>@cate.Code</td>*@

                                                        <td>@cate.Name</td>
                                                        <td>
                                                            @cate.Sort
                                                        </td>

                                                        <td class="text-end text-nowrap">
                                                            <a href="#" class="btn btn-outline-primary" edit-id="@cate.Id">
                                                                <i class="bi bi-pencil-square"></i>
                                                                Update
                                                            </a>
                                                            <a href="#" class="btn btn-outline-danger" delete-id="@cate.Id">
                                                                <i class="bi bi-trash"></i>
                                                                Delete
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    #region [child cate]
                                                    foreach (var subCat in zSubCates)
                                                    {
                                                        <tr id="@subCat.Id">
                                                            <td>@(zNo++)</td>
                                                            @*<td>@cate.Code</td>*@
                                                            <td> <i class="bi bi-three-dots"></i> @subCat.Name</td>
                                                            <td>
                                                                @subCat.Sort
                                                            </td>

                                                            <td class="text-end text-nowrap">
                                                                <a href="#" class="btn btn-outline-primary" edit-id="@subCat.Id">
                                                                    <i class="bi bi-pencil-square"></i>
                                                                    Update
                                                                </a>
                                                                <a href="#" class="btn btn-outline-danger" delete-id="@subCat.Id">
                                                                    <i class="bi bi-trash"></i>
                                                                    Delete
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                    #endregion
                                                }
                                                else
                                                {
                                                    <tr id="@cate.Id" class="fw-bold">
                                                        <td>@(zNo++)</td>
                                                        @*<td>@cate.Code</td>*@
                                                        <td>@cate.Name</td>
                                                        <td>
                                                            @cate.Sort
                                                        </td>

                                                        <td class="text-end text-nowrap">
                                                            <a href="#" class="btn btn-outline-primary" edit-id="@cate.Id">
                                                                <i class="bi bi-pencil-square"></i>
                                                                Update
                                                            </a>
                                                            <a href="#" class="btn btn-outline-danger" delete-id="@cate.Id">
                                                                <i class="bi bi-trash"></i>
                                                                Delete
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--Popup-->
<div id="popupCategory" class="modal modal-lg fade">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <form class="modal-content" asp-action="SaveCategory" asp-controller="Website">
            <div class="modal-header">
                <h5 class="modal-Name" id="exampleModalCenterName">
                    Add/adjust information
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24" height="24" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="form form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="txt_Code">Code</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="text" id="txt_Code" class="form-control" name="Code" placeholder="...">
                            </div>

                            <div class="col-md-4">
                                <label for="txt_Parent">Specialized in news</label>
                            </div>
                            <div class="col-md-8 form-group">

                                <select class="choices form-control" id="cbo_Parent" name="Parent">
                                    <option value="0" selected>--Options do not belong to categories--</option>
                                    @{
                                        foreach (var item in zParents)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }

                                </select>

                            </div>

                            <div class="col-md-4">
                                <label for="txt_NameVN">News item title</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="text" id="txt_NameVN" class="form-control" name="Name" placeholder="...">
                            </div>

                            <div class="col-md-4">
                                <label for="txt_Sort">Sort</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="text" id="txt_Sort" class="form-control" name="Sort" placeholder="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Close</span>
                </button>
                <button type="reset" class="btn btn-light-secondary">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Refresh</span>
                </button>
                <button type="submit" class="btn btn-primary ms-1">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Update</span>
                </button>
            </div>

            <input type="hidden" name="ID" id="txt_ID" value="0" />
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/js/page/categorylist.js" asp-append-version="true"></script>
}